In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv(r"1_20210317_171452.csv")
data1.head()

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
0,73.831324,18.518700,1.29,8.312031e+06,17-14-53,0.046402,-0.137178,-0.282934,265.0,-0.036306,-0.008226,-0.023416
1,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.136978,0.365242,0.108889,266.0,0.035776,-0.009448,0.009570
2,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.045355,-0.103340,-0.534985,266.0,-0.011871,-0.027774,0.003462
3,73.831201,18.518714,0.31,1.302423e+01,17-14-53,0.242089,0.072761,-0.350396,266.0,-0.017980,0.002769,-0.005091
4,73.831201,18.518714,0.31,1.302423e+01,17-14-53,-0.230234,0.011765,-0.494085,266.0,0.011342,0.003380,0.006516

In [3]:
data2 = pd.read_csv(r"2_20210317_184512.csv")
data2.head()

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
0,73.822661,18.501627,0.0,0.0,18-45-12,-0.271978,0.239697,-0.870133,352.0,0.022826,-0.035573,0.012482
1,73.822661,18.501627,0.0,0.0,18-45-12,-0.203242,0.330358,0.822501,352.0,-0.024821,0.045672,-0.016229
2,73.822661,18.501627,0.0,0.0,18-45-13,-0.052430,0.283010,-0.348588,352.0,-0.071247,0.027346,-0.015618
3,73.822661,18.501627,0.0,0.0,18-45-13,0.046597,0.181215,-1.068336,352.0,0.028324,-0.009306,-0.015007
4,73.822661,18.501627,0.0,0.0,18-45-13,0.038631,0.341300,0.365102,352.0,0.022215,-0.015414,0.014315

In [4]:
data = pd.read_csv(r"FinalDatasetCsv.csv")
data.head()

      Acc X     Acc Y     Acc Z    gyro_x    gyro_y    gyro_z  label
0  0.046402 -0.137178 -0.282934 -0.036306 -0.008226 -0.023416      0
1 -0.136978  0.365242  0.108889  0.035776 -0.009448  0.009570      0
2 -0.045355 -0.103340 -0.534985 -0.011871 -0.027774  0.003462      0
3  0.242089  0.072761 -0.350396 -0.017980  0.002769 -0.005091      0
4 -0.230234  0.011765 -0.494085  0.011342  0.003380  0.006516      0

In [5]:
df_final = pd.concat([data1,data2])
df_final.head()

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
0,73.831324,18.518700,1.29,8.312031e+06,17-14-53,0.046402,-0.137178,-0.282934,265.0,-0.036306,-0.008226,-0.023416
1,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.136978,0.365242,0.108889,266.0,0.035776,-0.009448,0.009570
2,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.045355,-0.103340,-0.534985,266.0,-0.011871,-0.027774,0.003462
3,73.831201,18.518714,0.31,1.302423e+01,17-14-53,0.242089,0.072761,-0.350396,266.0,-0.017980,0.002769,-0.005091
4,73.831201,18.518714,0.31,1.302423e+01,17-14-53,-0.230234,0.011765,-0.494085,266.0,0.011342,0.003380,0.006516

In [6]:
df_final['label'] = data['label']

In [7]:
df_final.set_index('Time', inplace=True)

In [8]:
df_final.head()

,Longitude,Latitude,Speed,Distance,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z,label
Time,,,,,,,,,,,,
17-14-53,73.831324,18.518700,1.29,8.312031e+06,0.046402,-0.137178,-0.282934,265.0,-0.036306,-0.008226,-0.023416,0
17-14-53,73.831324,18.518700,1.29,8.312031e+06,-0.136978,0.365242,0.108889,266.0,0.035776,-0.009448,0.009570,0
17-14-53,73.831324,18.518700,1.29,8.312031e+06,-0.045355,-0.103340,-0.534985,266.0,-0.011871,-0.027774,0.003462,0
17-14-53,73.831201,18.518714,0.31,1.302423e+01,0.242089,0.072761,-0.350396,266.0,-0.017980,0.002769,-0.005091,0
17-14-53,73.831201,18.518714,0.31,1.302423e+01,-0.230234,0.011765,-0.494085,266.0,0.011342,0.003380,0.006516,0

In [9]:
s1 = '17:14:53'
s2 = '18:56:18' # for example
FMT = '%H:%M:%S'
tdelta = datetime.strptime(s2, FMT) - datetime.strptime(s1, FMT)
tdelta

datetime.timedelta(seconds=6085)

In [10]:
df_final = df_final.drop(['Longitude', 'Latitude', 'Distance', 'Heading'], axis=1)

In [11]:
df_final.head()

,Speed,Acc X,Acc Y,Acc Z,gyro_x,gyro_y,gyro_z,label
Time,,,,,,,,
17-14-53,1.29,0.046402,-0.137178,-0.282934,-0.036306,-0.008226,-0.023416,0
17-14-53,1.29,-0.136978,0.365242,0.108889,0.035776,-0.009448,0.009570,0
17-14-53,1.29,-0.045355,-0.103340,-0.534985,-0.011871,-0.027774,0.003462,0
17-14-53,0.31,0.242089,0.072761,-0.350396,-0.017980,0.002769,-0.005091,0
17-14-53,0.31,-0.230234,0.011765,-0.494085,0.011342,0.003380,0.006516,0

In [12]:
timestamps = df_final.index.unique()

In [13]:
df_final['label'].value_counts()

1    7872
0    6377
Name: label, dtype: int64

In [14]:
X = df_final.drop(['label'], axis=1)
y = df_final['label']

In [15]:
X

          Speed     Acc X     Acc Y     Acc Z    gyro_x    gyro_y    gyro_z
Time
17-14-53   1.29  0.046402 -0.137178 -0.282934 -0.036306 -0.008226 -0.023416
17-14-53   1.29 -0.136978  0.365242  0.108889  0.035776 -0.009448  0.009570
17-14-53   1.29 -0.045355 -0.103340 -0.534985 -0.011871 -0.027774  0.003462
17-14-53   0.31  0.242089  0.072761 -0.350396 -0.017980  0.002769 -0.005091
17-14-53   0.31 -0.230234  0.011765 -0.494085  0.011342  0.003380  0.006516
...         ...       ...       ...       ...       ...       ...       ...
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.051089 -0.001975 -0.058989
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876

[14249 rows x 7 columns]

In [16]:
y

Time
17-14-53    0
17-14-53    0
17-14-53    0
17-14-53    0
17-14-53    0
           ..
18-56-18    0
18-56-18    0
18-56-18    0
18-56-18    0
18-56-18    0
Name: label, Length: 14249, dtype: int64

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import tensorflow as tf
from keras.layers import Dense, BatchNormalization, Dropout, LSTM, Bidirectional
from keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from keras.optimizers import Adam
from tensorflow.keras import regularizers
from sklearn.metrics import precision_score, recall_score, confusion_matrix, classification_report, accuracy_score, f1_score
from keras import callbacks
from tensorflow.keras.callbacks import EarlyStopping

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y,train_size = 0.8, test_size = 0.2, random_state = 0,stratify = y)

In [19]:
x_train.shape

(11399, 7)

In [20]:
x_test.shape

(2850, 7)

In [21]:
y_train.shape

(11399,)

In [22]:
y_train

Time
18-46-11    1
18-52-29    1
17-22-01    1
17-15-31    1
17-22-49    1
           ..
17-21-27    0
18-50-39    1
17-27-26    0
17-15-25    1
18-53-24    1
Name: label, Length: 11399, dtype: int64

In [23]:
y_test.shape

(2850,)

In [24]:
y_test

Time
18-53-03    1
17-19-52    1
17-23-58    1
17-25-37    0
18-52-10    1
           ..
17-20-01    1
18-46-39    1
17-22-06    1
18-48-02    1
17-18-38    0
Name: label, Length: 2850, dtype: int64

In [25]:
x_train , y_train = np.array(x_train), np.array(y_train)
x_train = np.reshape(x_train, (x_train.shape[0] , x_train.shape[1], 1) )

In [26]:
x_test , y_test = np.array(x_test), np.array(y_test)
x_test = np.reshape(x_test, (x_test.shape[0] , x_test.shape[1], 1) )

In [27]:
# Our vectorized labels
y_train = np.asarray(y_train).astype('float32').reshape((-1,1))
y_test = np.asarray(y_test).astype('float32').reshape((-1,1))

In [30]:
# build a model
model = Sequential()
model.add(Dense(128, input_shape=(x_train.shape[1],1), activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))
model.summary()

model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])
es = EarlyStopping(monitor='val_accuracy',mode='max',patience=10,restore_best_weights=True)
history = model.fit(x_train,y_train,callbacks=[es],epochs=100,batch_size=128,validation_split=0.1,shuffle=True,verbose=1)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 7, 128)            256

 dense_11 (Dense)            (None, 7, 128)            16512

 dropout_6 (Dropout)         (None, 7, 128)            0

 dense_12 (Dense)            (None, 7, 128)            16512

 dropout_7 (Dropout)         (None, 7, 128)            0

 dense_13 (Dense)            (None, 7, 128)            16512

 dropout_8 (Dropout)         (None, 7, 128)            0

 dense_14 (Dense)            (None, 7, 1)              129

=================================================================
Total params: 49,921
Trainable params: 49,921
Non-trainable params: 0
_________________________________________________________________
Epoch 1/100
81/81 [==============================] - 4s 26ms/step - loss: 0.6825 - accuracy: 0.5538 - val_loss: 0.6828 - val_accuracy: 0.5395
Epoch 2/100
81/81 [==============================] - 2s 23ms/step - loss: 0.6821 - accuracy: 0.5548 - val_loss: 0.6823 - val_accuracy: 0.5395
Epoch 3/100
81/81 [==============================] - 2s 23ms/step - loss: 0.6802 - accuracy: 0.5650 - val_loss: 0.6835 - val_accuracy: 0.5395
Epoch 4/100
81/81 [==============================] - 1s 17ms/step - loss: 0.6797 - accuracy: 0.5651 - val_loss: 0.6805 - val_accuracy: 0.5634
Epoch 5/100
81/81 [==============================] - 2s 19ms/step - loss: 0.6791 - accuracy: 0.5692 - val_loss: 0.6800 - val_accuracy: 0.5639
Epoch 6/100
81/81 [==============================] - 2s 19ms/step - loss: 0.6786 - accuracy: 0.5724 - val_loss: 0.6800 - val_accuracy: 0.5644
Epoch 7/100
81/81 [==============================] - 1s 18ms/step - loss: 0.6788 - accuracy: 0.5733 - val_loss: 0.6789 - val_accuracy: 0.5682
Epoch 8/100
81/81 [==============================] - 2s 20ms/step - loss: 0.6785 - accuracy: 0.5720 - val_loss: 0.6794 - val_accuracy: 0.5668
Epoch 9/100
81/81 [==============================] - 1s 15ms/step - loss: 0.6783 - accuracy: 0.5736 - val_loss: 0.6791 - val_accuracy: 0.5685
Epoch 10/100
81/81 [==============================] - 1s 14ms/step - loss: 0.6780 - accuracy: 0.5738 - val_loss: 0.6790 - val_accuracy: 0.5679
Epoch 11/100
81/81 [==============================] - 1s 16ms/step - loss: 0.6777 - accuracy: 0.5742 - val_loss: 0.6785 - val_accuracy: 0.5682
Epoch 12/100
81/81 [==============================] - 1s 14ms/step - loss: 0.6779 - accuracy: 0.5738 - val_loss: 0.6800 - val_accuracy: 0.5634
Epoch 13/100
81/81 [==============================] - 1s 16ms/step - loss: 0.6774 - accuracy: 0.5736 - val_loss: 0.6799 - val_accuracy: 0.5647
Epoch 14/100
81/81 [==============================] - 2s 20ms/step - loss: 0.6779 - accuracy: 0.5737 - val_loss: 0.6798 - val_accuracy: 0.5643
Epoch 15/100
81/81 [==============================] - 2s 25ms/step - loss: 0.6773 - accuracy: 0.5740 - val_loss: 0.6789 - val_accuracy: 0.5632
Epoch 16/100
81/81 [==============================] - 3s 32ms/step - loss: 0.6777 - accuracy: 0.5734 - val_loss: 0.6790 - val_accuracy: 0.5647
Epoch 17/100
81/81 [==============================] - 2s 27ms/step - loss: 0.6776 - accuracy: 0.5733 - val_loss: 0.6785 - val_accuracy: 0.5650
Epoch 18/100
81/81 [==============================] - 1s 17ms/step - loss: 0.6779 - accuracy: 0.5729 - val_loss: 0.6782 - val_accuracy: 0.5690
Epoch 19/100
81/81 [==============================] - 1s 15ms/step - loss: 0.6770 - accuracy: 0.5742 - val_loss: 0.6785 - val_accuracy: 0.5665
Epoch 20/100
81/81 [==============================] - 1s 15ms/step - loss: 0.6771 - accuracy: 0.5750 - val_loss: 0.6782 - val_accuracy: 0.5679
Epoch 21/100
81/81 [==============================] - 1s 14ms/step - loss: 0.6772 - accuracy: 0.5745 - val_loss: 0.6788 - val_accuracy: 0.5657
Epoch 22/100
81/81 [==============================] - 1s 13ms/step - loss: 0.6772 - accuracy: 0.5734 - val_loss: 0.6783 - val_accuracy: 0.5662
Epoch 23/100
81/81 [==============================] - 2s 19ms/step - loss: 0.6767 - accuracy: 0.5750 - val_loss: 0.6782 - val_accuracy: 0.5674
Epoch 24/100
81/81 [==============================] - 2s 27ms/step - loss: 0.6772 - accuracy: 0.5743 - val_loss: 0.6788 - val_accuracy: 0.5634
Epoch 25/100
81/81 [==============================] - 2s 25ms/step - loss: 0.6775 - accuracy: 0.5742 - val_loss: 0.6798 - val_accuracy: 0.5645
Epoch 26/100
81/81 [==============================] - 2s 22ms/step - loss: 0.6765 - accuracy: 0.5753 - val_loss: 0.6775 - val_accuracy: 0.5683
Epoch 27/100
81/81 [==============================] - 2s 23ms/step - loss: 0.6772 - accuracy: 0.5741 - val_loss: 0.6789 - val_accuracy: 0.5670
Epoch 28/100
81/81 [==============================] - 1s 16ms/step - loss: 0.6771 - accuracy: 0.5740 - val_loss: 0.6792 - val_accuracy: 0.5643