In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv(r"1_20210317_171452.csv")
data1.head()

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
0,73.831324,18.518700,1.29,8.312031e+06,17-14-53,0.046402,-0.137178,-0.282934,265.0,-0.036306,-0.008226,-0.023416
1,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.136978,0.365242,0.108889,266.0,0.035776,-0.009448,0.009570
2,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.045355,-0.103340,-0.534985,266.0,-0.011871,-0.027774,0.003462
3,73.831201,18.518714,0.31,1.302423e+01,17-14-53,0.242089,0.072761,-0.350396,266.0,-0.017980,0.002769,-0.005091
4,73.831201,18.518714,0.31,1.302423e+01,17-14-53,-0.230234,0.011765,-0.494085,266.0,0.011342,0.003380,0.006516

In [3]:
data2 = pd.read_csv(r"2_20210317_184512.csv")
data2.head()

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
0,73.822661,18.501627,0.0,0.0,18-45-12,-0.271978,0.239697,-0.870133,352.0,0.022826,-0.035573,0.012482
1,73.822661,18.501627,0.0,0.0,18-45-12,-0.203242,0.330358,0.822501,352.0,-0.024821,0.045672,-0.016229
2,73.822661,18.501627,0.0,0.0,18-45-13,-0.052430,0.283010,-0.348588,352.0,-0.071247,0.027346,-0.015618
3,73.822661,18.501627,0.0,0.0,18-45-13,0.046597,0.181215,-1.068336,352.0,0.028324,-0.009306,-0.015007
4,73.822661,18.501627,0.0,0.0,18-45-13,0.038631,0.341300,0.365102,352.0,0.022215,-0.015414,0.014315

In [4]:

data = pd.read_csv(r"FinalDatasetCsv.csv")
data.head()

      Acc X     Acc Y     Acc Z    gyro_x    gyro_y    gyro_z  label
0  0.046402 -0.137178 -0.282934 -0.036306 -0.008226 -0.023416      0
1 -0.136978  0.365242  0.108889  0.035776 -0.009448  0.009570      0
2 -0.045355 -0.103340 -0.534985 -0.011871 -0.027774  0.003462      0
3  0.242089  0.072761 -0.350396 -0.017980  0.002769 -0.005091      0
4 -0.230234  0.011765 -0.494085  0.011342  0.003380  0.006516      0

In [5]:
df_final = pd.concat([data1,data2])
df_final.head()

,Longitude,Latitude,Speed,Distance,Time,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z
0,73.831324,18.518700,1.29,8.312031e+06,17-14-53,0.046402,-0.137178,-0.282934,265.0,-0.036306,-0.008226,-0.023416
1,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.136978,0.365242,0.108889,266.0,0.035776,-0.009448,0.009570
2,73.831324,18.518700,1.29,8.312031e+06,17-14-53,-0.045355,-0.103340,-0.534985,266.0,-0.011871,-0.027774,0.003462
3,73.831201,18.518714,0.31,1.302423e+01,17-14-53,0.242089,0.072761,-0.350396,266.0,-0.017980,0.002769,-0.005091
4,73.831201,18.518714,0.31,1.302423e+01,17-14-53,-0.230234,0.011765,-0.494085,266.0,0.011342,0.003380,0.006516

In [6]:
df_final['label'] = data['label']

In [7]:
df_final.set_index('Time', inplace=True)

In [8]:
df_final.head()

,Longitude,Latitude,Speed,Distance,Acc X,Acc Y,Acc Z,Heading,gyro_x,gyro_y,gyro_z,label
Time,,,,,,,,,,,,
17-14-53,73.831324,18.518700,1.29,8.312031e+06,0.046402,-0.137178,-0.282934,265.0,-0.036306,-0.008226,-0.023416,0
17-14-53,73.831324,18.518700,1.29,8.312031e+06,-0.136978,0.365242,0.108889,266.0,0.035776,-0.009448,0.009570,0
17-14-53,73.831324,18.518700,1.29,8.312031e+06,-0.045355,-0.103340,-0.534985,266.0,-0.011871,-0.027774,0.003462,0
17-14-53,73.831201,18.518714,0.31,1.302423e+01,0.242089,0.072761,-0.350396,266.0,-0.017980,0.002769,-0.005091,0
17-14-53,73.831201,18.518714,0.31,1.302423e+01,-0.230234,0.011765,-0.494085,266.0,0.011342,0.003380,0.006516,0

In [9]:
s1 = '17:14:53'
s2 = '18:56:18' # for example
FMT = '%H:%M:%S'
tdelta = datetime.strptime(s2, FMT) - datetime.strptime(s1, FMT)
tdelta

datetime.timedelta(seconds=6085)

In [10]:
df_final = df_final.drop(['Longitude', 'Latitude', 'Distance', 'Heading'], axis=1)

In [11]:
df_final.head()

,Speed,Acc X,Acc Y,Acc Z,gyro_x,gyro_y,gyro_z,label
Time,,,,,,,,
17-14-53,1.29,0.046402,-0.137178,-0.282934,-0.036306,-0.008226,-0.023416,0
17-14-53,1.29,-0.136978,0.365242,0.108889,0.035776,-0.009448,0.009570,0
17-14-53,1.29,-0.045355,-0.103340,-0.534985,-0.011871,-0.027774,0.003462,0
17-14-53,0.31,0.242089,0.072761,-0.350396,-0.017980,0.002769,-0.005091,0
17-14-53,0.31,-0.230234,0.011765,-0.494085,0.011342,0.003380,0.006516,0

In [12]:
timestamps = df_final.index.unique()

In [13]:
df_final['label'].value_counts()

1    7872
0    6377
Name: label, dtype: int64

In [14]:
X = df_final.drop(['label'], axis=1)
y = df_final['label']

In [15]:
X

          Speed     Acc X     Acc Y     Acc Z    gyro_x    gyro_y    gyro_z
Time
17-14-53   1.29  0.046402 -0.137178 -0.282934 -0.036306 -0.008226 -0.023416
17-14-53   1.29 -0.136978  0.365242  0.108889  0.035776 -0.009448  0.009570
17-14-53   1.29 -0.045355 -0.103340 -0.534985 -0.011871 -0.027774  0.003462
17-14-53   0.31  0.242089  0.072761 -0.350396 -0.017980  0.002769 -0.005091
17-14-53   0.31 -0.230234  0.011765 -0.494085  0.011342  0.003380  0.006516
...         ...       ...       ...       ...       ...       ...       ...
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.051089 -0.001975 -0.058989
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876
18-56-18   0.00 -0.436406 -0.219264  0.397958 -0.001609  0.024903  0.000876

[14249 rows x 7 columns]

In [16]:
y

Time
17-14-53    0
17-14-53    0
17-14-53    0
17-14-53    0
17-14-53    0
           ..
18-56-18    0
18-56-18    0
18-56-18    0
18-56-18    0
18-56-18    0
Name: label, Length: 14249, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
x_train, x_test, y_train, y_test = train_test_split(X, y,train_size = 0.8, test_size = 0.2, random_state = 0,stratify = y)

In [19]:
x_train.shape

(11399, 7)

In [20]:
x_test.shape

(2850, 7)

In [21]:
y_train.shape

(11399,)

In [22]:
y_train

Time
18-46-11    1
18-52-29    1
17-22-01    1
17-15-31    1
17-22-49    1
           ..
17-21-27    0
18-50-39    1
17-27-26    0
17-15-25    1
18-53-24    1
Name: label, Length: 11399, dtype: int64

In [23]:
y_test.shape

(2850,)

In [24]:
y_test

Time
18-53-03    1
17-19-52    1
17-23-58    1
17-25-37    0
18-52-10    1
           ..
17-20-01    1
18-46-39    1
17-22-06    1
18-48-02    1
17-18-38    0
Name: label, Length: 2850, dtype: int64

In [26]:
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(x_train, y_train)
y_tr_pred = knn.predict(x_train)
y_pred = knn.predict(x_test)

In [27]:
from sklearn import metrics
print("\nTRAINING DATA:")
print(classification_report(y_train, y_tr_pred, target_names=['Normal', 'Reckless']))
print(metrics.accuracy_score(y_train, y_tr_pred))

print("\nTEST DATA:")
print(classification_report(y_test, y_pred, target_names=['Normal', 'Reckless']))
print(metrics.accuracy_score(y_test, y_pred))

TRAINING DATA:
              precision    recall  f1-score   support

      Normal       0.72      0.60      0.65      5102
    Reckless       0.71      0.81      0.76      6297

    accuracy                           0.71     11399
   macro avg       0.71      0.70      0.70     11399
weighted avg       0.71      0.71      0.71     11399

0.7142731818580578

TEST DATA:
              precision    recall  f1-score   support

      Normal       0.64      0.53      0.58      1275
    Reckless       0.67      0.76      0.71      1575

    accuracy                           0.66      2850
   macro avg       0.65      0.64      0.64      2850
weighted avg       0.65      0.66      0.65      2850

0.6557894736842105

In [32]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 13)
scores = cross_val_score(knn, x_train, y_train, cv=15, scoring = "accuracy")
print("Scores:\n", pd.Series(scores))
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores:
 0     0.669737
1     0.669737
2     0.659211
3     0.647368
4     0.643421
5     0.680263
6     0.648684
7     0.652632
8     0.660526
9     0.668421
10    0.709211
11    0.657895
12    0.656579
13    0.698684
14    0.681159
dtype: float64
Mean: 0.6669018560894991
Standard Deviation: 0.01817736274716192

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X, y,train_size = 0.7, test_size = 0.3, random_state = 0,stratify = y)

In [34]:
x_train.shape

(9974, 7)

In [35]:
x_test.shape

(4275, 7)

In [36]:
y_train.shape

(9974,)

In [37]:
y_test.shape

(4275,)

In [38]:
y_test

Time
17-16-58    0
17-20-52    0
17-17-30    1
17-24-59    0
17-27-04    0
           ..
18-48-21    1
18-53-15    1
17-19-39    1
18-55-49    0
17-20-01    1
Name: label, Length: 4275, dtype: int64

In [39]:
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=23)
knn.fit(x_train, y_train)
y_predict = knn.predict(x_test)
print(y_predict)
print(accuracy_score(y_test,y_predict))

[0 1 1 ... 1 0 1]
0.6575438596491228

In [40]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 23)
scores = cross_val_score(knn, x_train, y_train, cv=15, scoring = "accuracy")
print("Scores:\n", pd.Series(scores))
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores:
 0     0.675188
1     0.660150
2     0.699248
3     0.669173
4     0.678195
5     0.688722
6     0.673684
7     0.658647
8     0.678195
9     0.694737
10    0.654135
11    0.634586
12    0.669173
13    0.678195
14    0.694277
dtype: float64
Mean: 0.673753812241447
Standard Deviation: 0.016675243459847167

In [41]:
x_train, x_test, y_train, y_test = train_test_split(X, y,train_size = 0.9, test_size = 0.1, random_state = 0,stratify = y)

In [42]:
x_train.shape

(12824, 7)

In [43]:
x_test.shape

(1425, 7)

In [44]:
y_train.shape

(12824,)

In [45]:
y_test.shape

(1425,)

In [46]:
y_test

Time
17-16-26    0
17-19-36    1
17-26-26    0
18-53-27    1
18-53-06    1
           ..
17-22-32    1
17-16-35    0
17-25-54    0
18-52-36    1
17-15-03    0
Name: label, Length: 1425, dtype: int64

In [47]:
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=23)
knn.fit(x_train, y_train)
y_predict = knn.predict(x_test)
print(y_predict)
print(accuracy_score(y_test,y_predict))

[1 0 1 ... 1 1 0]
0.6547368421052632

In [48]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 23)
scores = cross_val_score(knn, x_train, y_train, cv=15, scoring = "accuracy")
print("Scores:\n", pd.Series(scores))
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores:
 0     0.643275
1     0.667836
2     0.660819
3     0.674854
4     0.660819
5     0.665497
6     0.706433
7     0.666667
8     0.669006
9     0.678363
10    0.701754
11    0.656140
12    0.677193
13    0.685380
14    0.683841
dtype: float64
Mean: 0.6731917224755879
Standard Deviation: 0.016058638540568278